{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Produtos</h1>

    <div style="text-align:right; margin-bottom:20px;">
        <a href="/cart">
            <button style="padding:10px 15px; cursor:pointer;">🛒 Ver Carrinho</button>
        </a>
    </div>


    <div class="products">
        {% for product in products %}
        <div class="product">
            <h3>{{ product.name }}</h3>
            <p class="price">R$ {{ product.price }}</p>

            <form action="/add_to_cart/{{ product.id }}" method="POST">
                <button>Adicionar ao carrinho</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}